.accordion-app {
  &.accordion--active {
    .accordion__body {
      display: block;
      padding: 5px;
    }

    .accordion__icon {
      transform: rotate(180deg);
      transition: transform .3s linear;
    }
  }

  &.accordion--inactive {
    .accordion__body {
      display: none;
    }

    .accordion__icon {
      transition: transform .3s linear;
    }
  }

  .accordion__button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    .accordion__icon {
      margin-left: 5px;
      position: relative;
      top: 2px;
    }
  }

}
