.expense-app {
  margin: 24px 0;

  .expense__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;

    .add-receipt-button {
      text-align: right;
      padding: 6px 12px;
      border-radius: 6px;
      border: solid 1px #6b7480;
      background-color: #ffffff;

    }
  }

  .expense__container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 6px;
    background-color: #fafbfc;
    border: none;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.18);


    .card-title {
      padding: 0 48px;
    }

    .card-body {
      padding: 0;
    }

    .expense__content {

      .form__data {
        margin: 0;
        padding: 0 48px;

        .expense__upload {
          margin-right: 49px;
          padding: 52px 90px;
          background-color: #ffffff;

          .upload__icon-info {
            margin-left: 5px;
            color: #d0d3d6;
          }

          .upload__label-title {
            margin-bottom: 5px;
            display: inline-block
          }

          .upload__form-control {
            padding: 110px 24px 44px 24px;
            border: 2px dashed #dfe2e6;
            border-radius: 5px;
            text-align: center;

            .upload__label {
              padding: 12px 24px;
              border-radius: 6px;
              border: solid 1px #dfe2e6;
              background-color: #ffffff;
              font-weight: normal;
              line-height: normal;
              color: #303030;
            }

            .upload__input-file {
              display: none;
            }
          }

          .upload__caption {
            color: #848a91;
            font-weight: 300;
          }
        }

        .expense__data {
          .form-label {
            font-weight: bold;
            line-height: 1.5;
            color: #353a40;
          }

          input {
            &::placeholder {
              font-weight: 300;
              color: #6b7480;
            }
          }
        }
      }

      .expense-form__actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: #fff;
        padding: 23px 25px 18px 980px;
        margin-top: 12px;
        border-radius: 0 0 6px 6px;

        .button {
          &:first-child {
            margin-right: 24px;
          }
        }
      }


    }


  }
}
