.header-app {
  border-radius: 12px;
  background-image: linear-gradient(to right, #00d7ce 3%, #00c5fc);
  border: none;
  position: relative;

  .header-app__edit {
    i {
      position: absolute;
      right: 12px;
      top: 12px;
      color: #fff;
    }
  }

  .card-title {
    color: #fff;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
  }

  .header-app__section {
    position: relative;
    &:first-of-type {
      &::before {
        display: none;
      }
    }

    &::before {
      content: '';
      width: 1px;
      background-color: #fff;
      height: 80%;
      position: absolute;
    }

    .section__content {
      padding-left: 25px;
      padding-top: 10px;

      &.section__cost-center {
        text-align: center;

        .cost-center__details{
          display: inline-block;

          .cost-center__label,
          .cost-center__value {
            margin: 0 auto;
            color: #fff;
            display: block;
            text-align: justify;
          }

          .cost-center__value {
            font-size: 16px;
          }

          .cost-center__label {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 6px;
          }
        }

      }
    }

    .details__item {
      .item__label,
      .item__value {
        color: #fff;
      }
      .item__label {
        font-weight: 300;
        line-height: 1.5;
      }
      .item__value {
        font-weight: 600;
        line-height: 1.71;
        font-stretch: normal;
        font-style: normal;
      }
    }

    .education-budget__section {
      text-align: center;
      .education-budget__details {
        color: #fff;
        display: inline-block

        i {
          margin: 0 auto;
        }
      }
    }
  }
}

.header-loading {
  border-radius: 12px;
  background-image: linear-gradient(to right, #00d7ce 3%, #00c5fc);
  color: #fff;
}
