.timeline-app {
  margin: 24px 0;

  .timeline-app__item {
    margin-bottom: 24px;
    padding: 24px 48px 12px;

    .item__icon {
      background-color: #EFEBF9;
      border-radius: 50%;
      color: #C9BCF3;
      font-size: 20px;
      margin-bottom: 10px;
      height: 60px;
      text-align: center;
      width: 60px;

      i {
        position: relative;
        top: 15px;
      }
    }

    .item__label {
      display: block;
      color: #d0d3d6;
      font-size: 12px;
      text-transform: uppercase;
    }

    .item__description {
      font-weight: bold;
      font-size: 20px;
    }

    .item__date {
      color: #545b64;
      font-size: 14px;
    }

    .item__status--pending,
    .item__status--reproved,
    .item__status--approved,
    .item__status--open {
      border-radius: 18px;
      border: 1px solid #d0d3d6;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      padding: 6px 12px;
      text-transform: capitalize;
    }

    .item__status--pending{
      background-color: #EFF4F7;
      border-color: #B2B5BC;
      color: #727272;
    }
    .item__status--reproved{
      border: solid 1px #d6342c;
      background-color: #fbeaea;
    }
    .item__status--approved,
    .item__status--open {
      border: solid 1px #03a046;
      background-color: #e6fff0;
      color: #03a046;
    }

    .item__evaluation {
      .evaluation__accordion {
        float: right;

        .accordion__title {
          color: #51c1c3;
          font-size: 14px;
        }
      }
    }

    .item__submited-created {
      .icon__submited-created {
        position: relative;
        top: 11px;
        font-size: 36px;
      }
    }

    .item__expense {
      .expense__value {
        margin: 0;

        .value__item {
          padding: 0;
          font-weight: bold;
          font-size: 20px;

          &.value__total {
            font-weight: normal;
            font-size: 14px;
          }
        }
      }

      .expense__invoice {
        font-size: 14px;
        text-align: right;
        i {
          margin-right: 5px;
        }
        a {
          color: #51c1c3;
        }
      }
    }
  }
}
