// colors
$primary: #053d4e;


// backgrounds
$background-color: #f4f6fa;

//sidebar
$sidebar-width: 392px;
$sidebar-background: #fff;
$sidebar-padding: 40px 27px 0 22px;

//sidemenu
$sidemenu-width: 220px;

// head variables
$head-height: 48px;

//breadcrumb override
$breadcrumb-bg: #f0f3f7;

//breadcrumb
$breadcrumb-color: #51c1c3;
$breadcrumb-active: #5f6772;

//card
$padding-card: 25px 48px;

