// colors
$primary: #053d4e;


// backgrounds
$background-color: #f4f6fa;


//sidemenu
$sidemenu-width: 220px;

// head variables
$head-height: 48px;

//breadcrumb override
$breadcrumb-bg: #f0f3f7;
//breadcrumb
$breadcrumb-color: #51c1c3;
$breadcrumb-active: #5f6772;
